<strong>Olá, {{ student }}</strong>
<p> <strong> Bem vindo a Gympoint!!</strong></p> <br>
<p>Sua matricula foi realizada com sucesso! Confira os dados de seu plano abaixo.</p>
<p>
  <strong>Plano: </strong> {{{ plan }}} <br>
  <strong>Valor: </strong> {{{ price }}} <br>
  <strong>Data de início: </strong> {{{ start_date }}} <br>
  <strong>Data de término: </strong> {{{ end_date }}}
</p>
